 .breadcrumbs { 
	> span{
		font-weight: bold;
		color: $font-color;
	}

	> span:nth-last-child(1){
		font-weight: 100;
	}
}

 .page-main{

	.languageDescriptor{
		color: $font-color;
		font-weight: bold;
	}

	.categoryItem{
		background-color: $grey-light;
    	margin-bottom: 5%;
   	    padding: 10px;
	}
}
