input, select {
		outline:none;
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
}

input[type="checkbox"]{
	display: none;

	+ label div{
		position: relative;
	    display: inline-block;
	    width: 25px;
	    height: 25px;
	    vertical-align: middle;
	    border-radius: 6px;
	    border: solid 2px purple;
	    background: rgba(255,255,255,0.9);
	    cursor: pointer;
	}

	+ label div:after{
	    content: '';
	    position: absolute;
	    transform: translate(-50%, -50%);
	    top: 50%;
	    left: 50%;
	    width: 0;
	    height: 0;
	    border-radius: 4.5px;
	    background-color: #502444;
	    cursor: pointer;
	    transition: width 0.1s ease-in-out, height 0.1s ease-in-out, top 0.05s ease-in-out, left 0.05s ease-in-out;
	}

	&:checked + label div:after{
		height: 25px;
	    width: 25px;
	}
	+ label span{
		font-weight: bold;
		color: $purple-dark;
		height: 28px;
		margin-left: 2.5vh;
		vertical-align: middle;
	}
}

label {
	display: block;
	cursor: pointer;
}

.btn-primary {
    color: $white;
    background-color: $purple;
    border-color: $purple;

	&:hover {
	    color: #fff;
	    background: $purple-light;
	    border-color: $purple-light;
	}
}

.attachmentDiv{
    background: $grey-light;
    margin: 10px 0;
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

	.attachmentIcn {
		order: 0;
        flex-basis: 30px;
        flex-shrink: 0;
        flex-grow: 0;
	}

	.attachmentFileName{
		order: 1;
        flex-grow: 1;
	}

	.attachmentReleaseDate{
		 order: 2;
	}
}

.comment{
    background: $grey-light;
    margin: 10px 0;
    padding: 10px;

	.commentContent {
		margin: 10px 0;
	}

	.commentPoster{
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
			
			.commentIcn{
				order: 0;
				flex-basis: 30px;
				flex-shrink: 0;
				flex-grow: 0;
			}

			.commentFileName{
				order: 1;
			    flex-grow: 1;
			}

			.commentReleaseDate{
				order: 2;
			}
	}
}

.relatedPage{
    margin: 5px 0 0 0;
    color: $purple-dark;
}

.sideExtended {
	text-align: center;
    margin-top: 10px;
}

.metaInfoLikeCount{
	display: inline-block;
	
	.metaInfoBtn{
		margin: 0 10px 0 0;
	}
}


.metaInfoText, .metaInfoTitle{
	margin: 10px 0;

	 > div:nth-child(1){
		font-weight: bold;
		color: $purple-dark;
	}

}

.sideBarLanguages > div {
	    margin: 5px;
	.addedElement{
			background: rgba(169, 126, 160, 0.2);
		 > div {
	 	    padding: 5px;
		    display: inline-block;

		   	&:nth-child(2){
				font-weight: bold;
			}

			 &:nth-last-child() {
			 margin: 0;
			}
		}
	}
}

.editableIcns{
	background: $grey-light;
    padding: 2.5px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	
	> i {
	 	margin: 0 5px;
		color: green;
		cursor: pointer; 
		
		&:nth-child(3) {
			color: #ff5e00;
		}

		&:nth-child(4) {
			color: red;
		}
	 }
}